* {
  margin: 0px;
  padding: 0px;
  font-family: "Encode Sans Semi Condensed";
}
.header {
  background-color: #fff8f3;
  padding: 40px 40px 0px 200px;
  background-image: url("../images/header_bg.png");

  background-repeat: no-repeat;
  background-position: bottom right;
}
.header-title span {
  color: #fd6e0a;
}
.header-title {
  font-size: 26px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li {
  list-style: none;
  margin-right: 20px;
  margin-top: 10px;
}
nav a {
  text-decoration: none;
  color: #181818;
}
.btn-primary {
  border-radius: 10px;
  padding: 10px;
  background-color: #fd6e0a;
  color: white;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner .banner-pic {
  width: 500px;
}
.banner-content h2,
h1,
p,
button {
  margin-bottom: 15px;
}
.banner button {
  margin-right: 25px;
}
.about-me-section {
  padding: 20px;
  width: 80%;
  margin: 150px auto;
  background-color: #fff8f3;
}
.about-me {
  width: 60%;
  padding: 30px 0px;
  margin: 0px auto;
  text-align: center;
}
.bio {
  margin-top: 50px;
}
.bio-info {
  display: flex;
  justify-content: space-evenly;
}
.bio-info li {
  list-style: none;
  text-align: center;
}
.description {
  margin: 0px auto;
  /* text-align: center; */
  width: 80%;
}
.desc {
  text-align: center;
  width: 80%;
  margin: 15px auto;
}
.desc p {
  text-align: center;
  margin: 20px auto;
  width: 50%;
  color: rgb(129, 128, 128);
  line-height: 25px;
}
.cards {
  display: flex;
}
.card img {
  width: 30px;
}
.card {
  margin: 70px;
  border-radius: 20px;
  padding: 30px;
  background: white;
  line-height: 35px;
  box-shadow: 3px 3px 3px 3px rgb(129, 129, 129);
}
.card p {
  text-align: justify;
}
.summary {
  width: 80%;
  margin: 20px auto;
}
.resume-summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.education-div,
.experience-div {
  line-height: 30px;
  margin: 40px 0px;
  border-bottom: 1px solid rgb(230, 227, 227);
}
.summary-heading {
  text-align: center;
  margin: 50px 0px;
}
.education-div,
.experience-div p {
  width: 80%;
}

